.section--grey {
  background: #f5f4fa;
}

.section--grey .container {
  margin-bottom: 0;
}

.ourTeam__list {
  display: flex;
  padding-bottom: var(--indent);
}

.ourTeam__card {
  flex-basis: calc((100% -90px) / 4);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourTeam__card + .ourTeam__card {
  margin-left: 30px;
}
.ourTeam__img {
  max-width: 100%;
}

.ourTeam__caption {
  padding: 30px 32px;
}

.ourTeam__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.ourTeam__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
