.whatWeDo__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }
  
  .whatWeDo__img {
    max-width: 100%;
    height: auto;
  }
  
  .whatWeDo__list {
    display: flex;
    padding-bottom: var(--indent);

    & :not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .whatWeDo__—Åaption {
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .whatWeDo__title {
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }